@font-face {
  font-family: myfont;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/eot/IRANSansWeb_Bold.eot");
  src: url("../fonts/eot/IRANSansWeb_Bold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff2/IRANSansWeb_Bold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("../fonts/woff/IRANSansWeb_Bold.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../fonts/ttf/IRANSansWeb_Bold.ttf")
      format("truetype");
}
@font-face {
  font-family: myfont;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/eot/IRANSansWeb_Medium.eot");
  src: url("../fonts/eot/IRANSansWeb_Medium.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff2/IRANSansWeb_Medium.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("../fonts/woff/IRANSansWeb_Medium.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/ttf/IRANSansWeb_Medium.ttf") format("truetype");
}
@font-face {
  font-family: myfont;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/eot/IRANSansWeb_Light.eot");
  src: url("../fonts/eot/IRANSansWeb_Light.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff2/IRANSansWeb_Light.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("../fonts/woff/IRANSansWeb_Light.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/ttf/IRANSansWeb_Light.ttf") format("truetype");
}
@font-face {
  font-family: myfont;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/eot/IRANSansWeb_UltraLight.eot");
  src: url("../fonts/eot/IRANSansWeb_UltraLight.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff2/IRANSansWeb_UltraLight.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../fonts/woff/IRANSansWeb_UltraLight.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/ttf/IRANSansWeb_UltraLight.ttf") format("truetype");
}
@font-face {
  font-family: myfont;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/eot/IRANSansWeb.eot");
  src: url("../fonts/eot/IRANSansWeb.eot?#iefix") format("embedded-opentype"),
    /* IE6-8 */ url("../fonts/woff2/IRANSansWeb.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("../fonts/woff/IRANSansWeb.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../fonts/ttf/IRANSansWeb.ttf")
      format("truetype");
}

body {
  font-family: "myfont";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: dodgerblue;
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  margin-top: -150px;
}
.container h1 {
  font-size: 25px;
  color: #fff;
  font-weight: lighter;
}
.container textarea {
  font-size: 20px;
  outline: none;
  border: 0;
  border-radius: 8px;
  padding: 15px;
}
.choices {
  display: flex;
  padding: 20px;
}
span.choice {
  background-color: orange;
  padding: 8px 15px;
  border-radius: 20px;
  color: #fff;
  margin: 0 5px;
  font-size: 20px;
}

button {
  background-color: dodgerblue;
  display: block;
  font-family: myfont;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: all .2s ease;
  padding: 10px;
}
button:hover {
    background-color: #fff;
    color: dodgerblue;
}
